<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Makeup Store</title>
  </head>
  <body>
    <nav id="menu">
      <li class="menu-item"><a href=/products>Products</a></li>
      <li class="menu-item"><a href=/brands>Brands</a></li>
      <li class="menu-item"><a href=/categories>Categories</a></li>

    </nav>

    <%= yield %>

  </body>
</html>
