<h2>Categories</h2>

<div id="category-wrapper">
  <% @categories.each do |category| %>

  <div class="category">
    <h3><a href="/categories/<%= category.id %>"><%= category.name %></a></h3>
    <p><%= category.description %></p>
    <a href="/categories/<%= category.id %>/edit">Edit</a>
  </div>

  <% end %>
</div>
