<h2>Add new product</h2>

<form action="/products" method="post">
  <label for="product-name">Product Name: </label>
  <input type="text" name="name" id="name">
<br>
<br>
  <label for="brand-name">Brand: </label>
  <select class="brand-select" name="brand">
      <% @brands.each do |brand| %>
      <option value="<%= brand.name %>"><%= brand.name %></option>
      <% end %>
  </select>
<br>
<br>
  <label for="description">Product Description: </label>
  <input type="text" name="description" id="description">
  <br>
  <br>

  <label for="category-select">Select category: </label>
  <select class="category-select" name="category">
    <% @categories.each do |category| %>
    <option value="<%= category.name %>"><%= category.name %></option>
    <% end %>
  </select>
  <br>
  <br>

  <label for="quantity">Quantity: </label>
  <input type="number" name="quantity" id="quantity">
  <br>
  <br>
  <label for="buying-cost">Buying Cost: </label>
  <input type="number" name="buying-cost" id="buying_cost">
  <br>
  <br>
  <label for="selling-price">Selling Price: </label>
  <input type="number" name="selling-price" id="selling_price">
  <br>
  <br>
<input type="submit" value="Add Product">
</form>
