<h2>Add new Brand</h2>

<form action="/brands" method="post">
  <label for="brand-name">Brand Name: </label>
  <input type="text" name="name" id="name">
  <br>
  <br>
  <label for="info">Brand Info: </label>
  <textarea name="info" id="info" rows="8" cols="80"></textarea>
  <br>
  <br>
  <input type="submit" value="Add Brand">
</form>
